<h1>{{name}}</h1>

<dl>
  <td>Nombre:</td>
  <dd>  {{name}}</dd>

  <td>Edad:</td>
  <dd>  {{age}}</dd>

  <td>Método:</td>
  <dd>  {{getHeroDescription()}}</dd>

  <td>Capitalizado:</td>
  <dd>  {{capitalizedName}}</dd>
</dl>

<button (click)="changeHero()" class="btn btn-primary mx-2" *ngIf="name !== 'Spiderman'">Cambiar Nombre</button>
<button (click)="changeAge()" class="btn btn-primary" *ngIf="age !== 25">Cambiar Edad</button>
<button (click)="reset()" class="btn btn-primary mx-2">Reset</button>
